footer{
    width: 100vw;
    height: 15vh;
    background-color: black;
    color: white;
    font-size: large;
    align-content: center;
}

ul {
    display:flex;
    justify-content: center;
    list-style: none;
    font-size: large;
}
p {
    display: flex;
    justify-self: center;
    font-size: large;
}

li {
    margin: 0% 3%;
}