.Header ul{
  list-style-type:none;
  color: purple;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Header li{
  margin: 0% 2%;
  font-size: large;
}

.Header {
  background-color: plum;
  width: 100vw;
  height: 12vh;
}

.btn {
  background: #000;
  color: aliceblue;
  display: flex;
  justify-self: end;
  
}