h1 {
    color: plum;
}
.Container {
    display: flex;
    justify-content: center;
}

Button {
    margin: 1.5%;
    background: plum;
    border: 0px transparent;
    border-radius: 50%;
    padding: 1%;
}